.room {
  border: solid 2px #000;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
  -moz-appearance:textfield;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 3px;
}


.pm-button {
  width: 30px;
  border: #BBB solid 1px;
  border-radius: 5px;
  display: inline-block;
  height: 30px;
  text-align: center;
  line-height: 30px;
  margin-right: 3px;
  user-select: none;
}

.pm-button:hover {
  background: #CCC;
  color: white;
}
